.experience-tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 400px;
  max-width: 600px;
  background-color: white;
  margin: 3em 0;
  padding: .3em;
}


.title {
  font-size: 2em;
}
.description {
  font-size: 1em;

}

.icon-container {
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.icon {
  position: relative;
  width:100%;
  margin-bottom: 1em;
}
