.experience-tile {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 400px;
  max-width: 600px;
  background-color: white;
  margin: 1em;
  padding: .5em;
  border: 1px solid #222;
}

.description-container {
  align-items: center;
  align-self: center;
  flex-grow: 1;
  height: 100%;
}

.description-container .title {
  font-size: 1.5em;
}
.icon {
  height: 8em;
  margin-left: 1em;
}
