.App {
  text-align: center;
}
 img{
   min-width: 400px;
   vertical-align: top;
 }

.App-Main {
  background-color: #222;
  height: 250px;
  color: white;
  padding: 1em;
}


.App-intro {
  font-size: large;
}
