@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #222;
}

h1 {
  font-weight: normal;
}

.large-img-container{
  position:relative;
  overflow: hidden;
}
.large-img-container img{
   width:700px;
   min-width: 100vw;
   vertical-align: top;
   margin-left: 50%;
   transform: translateX(-50%);
 }

.education-experience {
  background-color: white;
  color: #222;
  padding: 1em;
}

.exp-container {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.App-intro {
  font-size: large;
}
