@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #222;
  z-index: 2;
}

hr{
  width: 80%;
  height: 1px;
  color: black;
  border: none;
  background-color: #222;
}

.large-img-container{
  position:relative;
  overflow: hidden;
}
.large-img-container img{
   width:700px;
   min-width: 100vw;
   vertical-align: top;
   margin-left: 50%;
   transform: translateX(-50%);
 }

.tile-container {
  background-color: white;
  color: black;
  padding: 1em;
}

.tile-container h1 {
  font-weight: normal;
  font-size: 1.75em;
}


.exp-container {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  padding: 10px;
  align-items: center;


}

.footer a {
  margin: 5px 15px;
  text-decoration: none;
  color: white;
  font-size: 2em;
  align-items: center;


}

.footer a:hover {
  color: grey;

}

.footer-logo {
  fill: white;
  color: white;
  height: 2.5em;
}

.parallax-group {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: white;

}
.parallax-group img{

}

.parallax-back {
  display: flex;
  justify-content: center;
  height: 50vh;
  color: white;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  align-items: center;
  font-size: 3em;
  position: relative;
}

.parallax-front {
  position: relative;
  z-index: 2;
}
