.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-top: 2em;

}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  display:none;

}

.nav-logo img{
  height: 75px;
  width: 75px;

}

.nav-logo {
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 1.5em;
}

.nav-items a{
  text-decoration: none;
  width: 80%;
  padding: 12px 0 12px 0;
  color: black;
  font-size: 1.5em;

  border-bottom: 1px solid black;
}

.nav-items a:hover{
  color: #f6ae2d;
}

.logo-button-container {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  text-decoration: none;
  padding:.3em .5em;
  color: black;
  font-size: 1.2em;
  border:1px solid black;
  align-self: center;
  margin-right: 1.8em;
  border-radius: 2px;
}

.nav-button:hover {
  color: #f6ae2d;
  cursor: pointer;
}



@media (min-width: 800px){
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
  }

  .nav-items a{
    text-decoration: none;

    padding: 5px;
    color: black;
    font-size: 1.2em;
    border-bottom: none;
    width: 4.3em;

  }

  .nav-button {
    display: none;
  }

  .nav-items {
    flex-direction: row;
    display: flex;
  }

}
