.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: white;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2em;
}

.nav-logo img{
  height: 80px;
  width: 80px;
  margin-left: 2em;
}

.nav-items a{
  color: black;
  height: 2em;
  padding: .5em;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;


}



.nav-container a:hover{
  color: #F6AE2D;
}




/*@media (min-width: 700px){
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
  }

  .nav-container a{

  }

  .nav-container a:hover{
    background-color: gray;

  }

  .nav-name {
    display:unset;
    background-color: green;
  }
}*/
